@page
@model MyRazorPage.Pages.IndexModel
@{
}

@foreach (var room in Model.ProductsHomePage)
{
    @if (room.Products.Any())
    {
        <h3>@room.RoomType</h3>
        <div class="product-grid">
            @foreach (var product in room.Products.Take(4))
            {
                <div class="product-item">
                    <img src="@Url.Content(Model.GetRoomTypeImageUrl(room.RoomType, product.ImageUrl))" alt="Product Image">
                    <div class="product-name">@product.ProductName</div>
                </div>
            }
        </div>
    }
}