
GroupProject_InteriorQuotation_NET1714_Group3/.vs/GroupProject_InteriorQuotation_NET1714_Group3/DesignTimeBuild/.dtbcache.v2
GroupProject_InteriorQuotation_NET1714_Group3/.vs/GroupProject_InteriorQuotation_NET1714_Group3/DesignTimeBuild/.dtbcache.v2
GroupProject_InteriorQuotation_NET1714_Group3/.vs/GroupProject_InteriorQuotation_NET1714_Group3/FileContentIndex/8e08e362-896d-470f-afa1-10e93533b763.vsidx
GroupProject_InteriorQuotation_NET1714_Group3/.vs/GroupProject_InteriorQuotation_NET1714_Group3/FileContentIndex/e814d7b5-689d-4235-b954-afe423784d7d.vsidx
GroupProject_InteriorQuotation_NET1714_Group3/.vs/GroupProject_InteriorQuotation_NET1714_Group3/FileContentIndex/8e08e362-896d-470f-afa1-10e93533b763.vsidx
GroupProject_InteriorQuotation_NET1714_Group3/.vs/GroupProject_InteriorQuotation_NET1714_Group3/v17/.suo
GroupProject_InteriorQuotation_NET1714_Group3/.vs/ProjectEvaluation/groupproject_interiorquotation_net1714_group3.metadata.v7.bin
GroupProject_InteriorQuotation_NET1714_Group3/.vs/ProjectEvaluation/groupproject_interiorquotation_net1714_group3.projects.v7.bin
GroupProject_InteriorQuotation_NET1714_Group3/MyRazorPage/obj/Debug/net7.0/project.razor.vs.bin
GroupProject_InteriorQuotation_NET1714_Group3/.vs/GroupProject_InteriorQuotation_NET1714_Group3/DesignTimeBuild/.dtbcache.v2
